/* @import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css); */
@import url(https://use.fontawesome.com/releases/v5.7.2/css/regular.css);

:root {
  --d: 200ms;

  --br: 0.3em;
  --hdr: 1.75em;

  --red: hsl(348, 100%, 61%);
  --blue: hsl(204, 86%, 53%);
  --green: hsl(141, 71%, 48%);
  --yellow: hsl(48, 100%, 67%);

  --light: #eee;
  --light-subtle: #aaa;
  --dark-subtle: #444;
  --dark: #333;
}

body {
  background: var(--dark);
  color: var(--light);
  margin: 0;
  padding: 0;
  font-family: monospace;
}

button,
input,
textarea,
select {
  color: var(--light);
  border: 0.1em solid var(--dark);
  border-radius: var(--br);
  background-color: var(--dark-subtle);
  transition-duration: var(--d);
  transition-property: background-color, color, border-color;
  padding: 0.5em;
  margin: 0.25em;
  overflow: hidden;
  /* Don't do that */
  outline: none;
}

button,
select {
  cursor: pointer;
  font-weight: bold;
}

input {
  font-weight: inherit;
}

input::placeholder {
  color: var(--dark);
}

button:hover,
select:hover,
input:hover {
  border-color: var(--dark-subtle);
}

button:active {
  color: var(--light-subtle);
  background-color: var(--dark);
  border-color: var(--dark-subtle);
}

.i {
  color: var(--dark);
  background-color: var(--light);
}

.subtle {
  color: var(--dark-subtle);
  font-size: smaller;
}

/************************/

.header {
  position: fixed;
  width: 100%;
  height: var(--hdr);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > a {
  position: relative;
  height: 100%;
  line-height: var(--hdr);
  text-decoration: none;
  color: var(--light-subtle);
  padding: 0 0.5em;
  text-transform: uppercase;
  font-weight: bold;
}

.header > a.active {
  color: var(--dark-subtle);
}

.content {
  padding-top: var(--hdr);
}

/************************/

.todolist {
  margin: 0;
  padding: 0;
}

.todolist li {
  position: relative;
  list-style: none;
}

li.placeholder {
  background: rgb(255, 240, 120);
  height: 1em;
  line-height: 1em;
}
li.placeholder:before {
  content: "Drop here";
  color: rgb(225, 210, 90);
}
/************************/
.view {
  display: flex;
}

.view:hover,
.view:active,
.view:focus,
.view:focus-within {
  background: var(--dark-subtle);
}

.view > * {
  padding: 1em;
}

/*** custom checkboxes ***/

.view input[type="checkbox"] {
  display: none;
} /* to hide the checkbox itself */

.view input[type="checkbox"] + label {
  cursor: pointer;
}

.view input[type="checkbox"] + label:before {
  font-family: "Font Awesome 5 Free";
  cursor: pointer;
}

.view input[type="checkbox"] + label:before {
  content: "\f0c8";
} /* unchecked icon */
.view input[type="checkbox"] + label:before {
  /* letter-spacing: 0.15em; */
} /* space between checkbox and label */

.view input[type="checkbox"]:checked + label:before {
  content: "\f14a";
} /* checked icon */
.view input[type="checkbox"]:checked + label:before {
  /* letter-spacing: 0em; */
} /* allow space for check mark */

/************************/

.view .title {
  flex: 1 1 100%;
  padding-left: 0;
  white-space: pre;
  line-height: 1.5em;
}

.view .title .edit {
  width: 100%;
  top: 0;
  left: 0;
  padding: 0;
  padding-left: 0;
  margin: 0;
  font: inherit;
  border: 0;

  background-image: linear-gradient(
    transparent,
    transparent 1.4em,
    #ccc1 1.4em,
    #ccc1 1.5em,
    transparent 1.5em
  );
  background-size: 100% 1.5em;
}

/*** destroy ***/

.view .destroy {
  display: none;
  position: absolute;
  right: 0.1em;
  bottom: 0;
  height: 100%;
  margin: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  font-family: "Font Awesome 5 Free";
}

.view:hover .destroy {
  display: block;
}
.view:hover .destroy:after {
  content: "\f2ed";
  color: var(--red);
}

/************************/

.new-todo {
  width: 100%;
  margin: 0;
}

/************************/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
